.DS_Store
images/Gemini_Generated_Image_dj6mrcdj6mrcdj6m.png
images/Gemini_Generated_Image_i4pomei4pomei4po.png
images/Gemini_Generated_Image_lgf72tlgf72tlgf7.png
images/Gemini_Generated_Image_lrxa9blrxa9blrxa.png
images/이미지.png
images/이미지 2.png
images/이미지 3.png
images/q2a_kirby.png
images/q2b_pikachu.jpg
images/q2c_woody.jpg
images/q2c_woody.png
images/q2d_iu.jpg
images/q5a_kirby.png
images/q5b_pikachu.jpg
images/q5c_woody.png
images/커비.jpg
Gemini_Generated_Image_flvrjhflvrjhflvr.png
# 루트 임시 스크린샷·작업 이미지 (게임 미사용)
이미지*.png
